<div class="comment">

  <div class="comment-rating" data-score="<%= comment.rating %>"> </div>
  <p> <%= comment.rating %> </p>
  <p class="comment-commentaire"> <%= comment.commentaire %> </p>

  <% if user_signed_in? %>
    <% if comment.user_id == current_user.id %>
      <div class="links btn-group" >
      <%= link_to "Edit", edit_publication_comment_path(comment.publication, comment), class: "btn btn-custom" %>
      <%= link_to "Delete", publication_comment_path(comment.publication, comment), method: :delete,  data: { confirm: "Are you sure ?" }, class: "btn btn-custom" %>
      </div>
    <% end %>
  <% end %>

</div>

<%= link_to "UpVote", like_publication_comment_path(comment.publication, comment), class:"like", method: :put do %>
  <button type="button" class="btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true" > </span>
    <span class="badge"> <%= comment.get_upvotes.size %> </span>
  </button>
  <% end %>

<%= link_to "DownVote", dislike_publication_comment_path(comment.publication, comment), class:"like", method: :put do %>
  <button type="button" class="btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true" > </span>
    <span class="badge"> <%= comment.get_downvotes.size %> </span>
  </button>
<% end %>
