<h1> This is our Home Page with the different publications </h1>
<p> The time is now <% t = Time.now %> <%= t.to_s %> </p>

<h3> Publications available </h3>
  <%= @publications.each do |publication| %>
      <a href="/publications/<%= publication.id %>"> <%= publication.title %> </a>
      <p> <%= publication.text %> </p>
    <% end %>

<br>
<p> <%= link_to "Back", root_path %> </p>
