
<div class="row">
    <div class="col-md-5">
      <%= image_tag @publication.publication_img.url(:publication_show), class: "publication-show" %>
    </div>

    <div class="col-md-6" >
      <div class="publication-info" >
          <h2 class="publication-title"> <%= @publication.title %> </h2>
          <h3 class="avg-rating"> Average rating </h3>
            <div class="average-publication-rating" data-score=<%= @average_publication %>> </div>
            <span class="number-of-comments"> Based on <%= @publication.comments.count %> comments </span>
          <h5 class="publication-author"> <b> Author : </b> <%= @publication.user_id %>  </h5>
          <h5 class="publication-town"> <b> Town : </b> <%= @publication.town_id %>  </h5>
          <h5> <b> Type : </b>  <%= @publication.publication_type %> </h5>
          <h5 class="publication-description"> <b> Text : </b> <%= @publication.text %> </h5>
        </div>
        <br>
        <div class="links btn-group">
          <%= link_to "Back", root_path, class: "btn btn-custom" %>

            <% if user_signed_in? %>
              <% if @publication.user_id == current_user.id %>
                <%= link_to "Edit", edit_publication_path(@publication), class: "btn btn-custom" %>
                <%= link_to "Delete", publication_path(@publication), method: :delete, data: { confirm: "Are you sure ?"}, class: "btn btn-custom" %>
              <% end %>
            <% end %>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
      <div class="comments" >
        <h1> Comments </h1>
          <%= render @publication.comments %>
            <div>

              <div class="caption" style="text-align: center;">
                <%= render comment %>
                 </div>


              <%= link_to "Add Comment", new_publication_comment_path(@publication), class: "btn btn-custom" %>
            </div>
        </div>
      </div>
  </div>

<%-# Commentaire -%>

<script>
  $('.comment-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
