
<div class="row">
  <h1> Towns available </h1>
    <div class="towns" >
        <div class="col-md-6">
          <% @towns.each do |town| %>
            <div class="town-info">
              <div class="town-name"> <a href="/towns/<%= town.id %>"> <%= town.name %> </a> </div>
              <p class="town-description"> <%= town.description %> </p>
              <p class="town-location"> <%= town.location %> </p>
            </div>
          <% end %>
      </div>

  <div class="col-md-5">
    <div class="new-town">
        <h2> You want to create a new town ? </h2>
        <p class="button"> <%= link_to "New town", new_town_path, class: "btn btn-custom" %> </p>
      </div>
    </div>

  </div>
</div>
